{
    "timeout": 20,
    "minMsi": 88,
    "minCoveredMsi": 94,
    "source": {
        "directories": [
            "src\/main\/php"
        ],
        "excludes": [
            "PHPCodeSniffer"
        ]
    },
    "logs": {
        "text": "infection.log",
        "html": "infection.html",
        "github": true
    },
    "mutators": {
        "@default": true,
        "DecrementInteger": {
            "ignoreSourceCodeByRegex": [
                ".*json_decode\\([^,\\\\)]+, (true|false), 512[^\\\\)]*\\).*"
            ]
        },
        "IncrementInteger": {
            "ignoreSourceCodeByRegex": [
                ".*json_decode\\([^,\\\\)]+, (true|false), 512[^\\\\)]*\\).*"
            ]
        }
    }
}
